
 .head { 
    text-align: center; 
  } 
   .axislabel {
      fill: #FFFFFF;
      color: #FFFFFF;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 16px;
      }
    
    .section {
      padding: 1em 0;
    }
    svg {
      display: block;
      margin: 0 auto;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #4c4c4c;
      shape-rendering: crispEdges;
       stroke-width: 1.1;
    }

   
    .axis text {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        fill: #CECECE;
      }
     .tooltip {
       padding: .5em 1em;
       background: rgba(0,0,0,.75);
       color: white;
       font-size: 13px;
       font-family: 'Open Sans', sans-serif;
       font-weight: 500;
       line-height: 1;
       border-radius: 8px;
     }

      .legendtext,#legend {
      font-family: 'Open Sans', sans-serif;
      color: #CECECE;
         font-size: 11px;
      
          }
        .legendtitle{
      font-family: 'Open Sans', sans-serif;
      color: #CECECE;
      font-size: 11px;
          }

        .whitespan{
          color:#fff;
        }

    label {
      font-weight: 2px;
      color: #FFFFFF;
    }

    body {
      background-color: #383838;
      font-family: 'Open Sans', sans-serif;
      color: #CECECE;
          }

    th {
       font-family: 'Alegreya Sans SC', sans-serif;
        color: #FFFFFF;
        width: 400px;
                } 
    h1,h3,h4,h5,h2{
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #FFFFFF;
                }   
    #tier,#team {
      background-color: #CECECE;
      color: #4C4C4C;
      border: none;
      border-radius: 24px;

    .axis path,
    .axis line {
      fill: none;
      stroke: #CECECE;
      shape-rendering: crispEdges;
                }

    .btn-toolbar {
        font-weight: 2px;
      color: #FFFFFF;
    }

    

 