
 .head { 
    text-align: center; 
  } 
   .axislabel {
      fill: #FFFFFF;
      color: #FFFFFF;
      font-family: 'Alegreya Sans SC', sans-serif;
      font-size: 16px;
      }
    
    .section {
      padding: 1em 0;
    }
    svg {
      display: block;
      margin: 0 auto;
    }
    .axis path, .axis line {
      fill: none;
      stroke: #4c4c4c;
      shape-rendering: crispEdges;
       stroke-width: 1.1;
    }

   
    .axis text {
        font-family: 'Open Sans', sans-serif;
        font-size: 11px;
        fill: #CECECE;
      }
     .tooltip {
       padding: .5em 1em;
       background: rgba(0,0,0,.75);
       color: white;
       font-size: 13px;
       font-family: 'Open Sans', sans-serif;
       font-weight: 500;
       line-height: 1;
       border-radius: 8px;
     }

      .legendtext,#legend {
      font-family: 'Open Sans', sans-serif;
      color: #CECECE;
         font-size: 11px;

          }
        .legendtitle{
      font-family: 'Open Sans', sans-serif;
      color: #CECECE;
      font-size: 11px;
          }

        .whitespan{
          color:#fff;
        }

    label {
      font-weight: 2px;
      color: #FFFFFF;
    }

    body {
      background-color: #383838;
      font-family: 'Open Sans', sans-serif;
      color: #CECECE;
          }

    th {
       font-family: 'Alegreya Sans SC', sans-serif;
        color: #FFFFFF;
        width: 400px;
                } 
    h1,h3,h4,h5,h2{
        font-family: 'Alegreya Sans SC', sans-serif;
        color: #FFFFFF;
                }   
    #tier,#team {
      background-color: #CECECE;
      color: #4C4C4C;
      border: none;
      border-radius: 24px;}

.btn {
   outline:none;
   background: transparent;
   color: #CECECE;
   border: 1px solid color: #CECECE;;
   border-radius: 24px;
   border-color: #CECECE;
   outline:0;
   width: 70px;
   font-family: 'Open Sans', sans-serif;
   font-size: 11px;
   fill: #CECECE;
  margin: 0 auto;
}

.btn .btn-group-vertical{
  position: 50%;
  text-align: center;
  outline:none;
  background: transparent;
  color: #CECECE;
  border: 1px solid color: #CECECE;;
  border-radius: 24px;
   outline:0;

}

.hidden {
  display: none;
}

.vert {
  border-radius: ;
}
.btn:hover {
    position: 50%;
  background-color: #2171b5;
  color: #FFFFFF;
  border: 1px solid #CECECE;
  border-radius: 24px;
}
.btn-group .btn:active .btn.active{
  position: 50%;
  background: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}

.btn-group .btn:focus{
  position: 50%;
  background: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}

.btn-group-vertical .btn:active{
  position: 50%;
  background: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}

.btn-group-vertical .btn:hover{
  position: 50%;
  background: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}
.btn-group-vertical .btn:focus{
  position: 50%;
  background: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}

.btn-group-vertical .btn:visited{
  position: 50%;
  background: #2171b5;
  color: none;
  border: none solid #FFFFFF;
  border-radius: 24px;
  outline:none;
}

.btn:focus{
  background-color: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline: 0;
}
.btn.active{
  background-color: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}

.btn.focus{
  background-color: #2171b5;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 24px;
  outline:0;
}



 